body {
  overflow-y:scroll;
  background-repeat: repeat;
  background-image: url(../img/congruent_pentagon.png);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  background-color: white;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

.green {
    color: green;
}

.red {
    color: red;
}

.fraction, .top, .bottom {
    padding: 0 5px;    
}

.fraction {
    font-size: 85%;
    display: inline-block;
    text-align: center;    
}

.bottom {
    border-top: 1px solid #000;
    display: block;
}

.btn-primary .bottom {
    border-top: 1px solid #fff;
}

.operator {
  overflow: auto;
  display: block;
  margin-bottom: 5px;
}

#center-stage {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
} 

.nopadding {
  padding: 0;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

select[name="basisformeln"] {
  height: 400px;
  width: 200px;
  vertical-align: top;
  padding: 5px;
}