body {
  overflow-y:scroll;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

h1 {
  font-weight:bold;
}

div.aufgabenbody{
  display:block;
  margin-top:60px;
  margin-left:50px;
}


div.aufgabe1 {
  display: inline;
  opacity:0.4;
  filter:alpha(opacity=40);
  position:relative;

}

div.aufgabe1:hover {
  opacity: 1;
  filter: alpha(opacity=60);
}

img.trophystats{
  width: 25px;
  height: 25px;
}

img.trophyinpicture {
  position:absolute;
  width: 25px;
  height: 25px; 
  top: -73px; 
  left: 160px;
}

hr.hrheader {
  height: 10px;
  color: #333; 
  background-color: #333;
  margin-top: 10px;
}

#help {
  text-align: right;
}

 a.hovertext { 
  position: relative; 
  width: 190px; 
  text-decoration: none; 
  text-align: center; 
}

 a.hovertext:after { 
  content: attr(title); 
  position: absolute; 
  left: 0; 
  top: 0; 
  padding: 0.2em 20px; 
  width: 192px; 
  background: rgba(0,0,0,0.2); 
  text-decoration: none; 
  color: #fff; 
  opacity: 0; 
  -webkit-transition: 0.5s; 
  -moz-transition: 0.5s; 
  -o-transition: 0.5s; 
  -ms-transition: 0.5s; }  
  a.hovertext:hover:after, a.hovertext:focus:after { 
  opacity: 1.0; 
} 