body {
  overflow-y:scroll;
  background-repeat: repeat;
  background-image: url(../img/congruent_pentagon.png);
  /* for navbar */
  padding-top: 70px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  background-color: white;
}

canvas {
  margin-bottom: 15px;
  margin-top: 15px;
}

h4 {
  margin-top: 25px;
}

.row {
  margin-bottom: 20px;
}

.select-row-gegeben {
  margin: 0;
}

.green {
    color: green;
}

.red {
    color: red;
}

.fraction, .top, .bottom {
    padding: 0 2px;
}

.fraction {
    vertical-align: middle;
    font-size: 85%;
    display: inline-block;
    text-align: center;    
}

.bottom {
    border-top: 1px solid #fff;
    display: block;
}

.operator {
  overflow: auto;
  display: block;
  margin-bottom: 5px;
}

#center-stage {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
} 

.nopadding {
  padding: 0;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
